root = true

# All files
[*]
indent_style = space
end_of_line = lf
insert_final_newline = true

# Json files
[*.{json,jsonc}]
indent_size = 2

# Xml files
[*.xml]
indent_size = 2

# MSBuild files
[*.{proj,csproj,props,targets}]
indent_size = 4

# Yaml files
[*.{yml,yaml}]
indent_size = 2


# Ignore test
[/test/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
