name: Validate EditorConfig

on:
  push:
    branches:
      - '**'

jobs:
  validate-editor-config:
    name: Validate editor config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: src/Cathal.PcfTools.MSBuild.Proj/contentFiles/.nvmrc
      - name: "Setup: editorconfig-checker"
        run: |
          npm i -g editorconfig-checker
      - name: "Validate: Run editorconfig-checker"
        run: |
          editorconfig-checker
